.Menu
    padding: 30px
    p
        color: #8a8888
        font-style: italic
        font-size: small
    h3
        font-weight: bolder
        padding-bottom: 3vh
        text-align: center    
    h5
        color: #ffb03b
    ul
        display: flex
        justify-content: center
        gap: 2vw
.btn-menu-tasty
    border-radius: 50px
    border: 1px solid #ffb03b
    background: white
    color: #ffb03b
    &:hover
        background-color: #ffb03b
        color: white
    &:focus
        background-color: #ffb03b
        color: white